body {
    font-family: "Poppins", sans-serif;
    background-color: snow;
    width: 100%;
    height: 100%;
}

.navbar {
    margin-bottom: 20px;
}

.bg-gray {
    background-color: gray;
}

.logo-container {
    padding: 10px;

}

.nav-link {
    padding: 10px;
    color: white;
}

.nav-link:hover {
    background-color: red;
}

.container-fluid{
    padding-top: 5%;
}


.valentin {
    display: inline-block;
    alignment: left;
    height: 40px;
}

.table{
    text-align: center;
}

.margin_table{
    margin-right: 5%;
}

#register{
    margin-left: 20%;
}

#todo-list{
    font-size: 17px;
}

#login{
    margin-left: 20%;
}

#menu {
    font-size: 20px;
}

#sidebar{
    border-radius: 20px;
}

.nav-item{
    padding: 2%;
}

.mybutton{
    float: right;
    margin: 2% 5%;
}

#button{
    display: -webkit-box;
    float: right;
    margin: 0 10%;
}

#search{
    margin-right: 70%;
}

.pagination-container .page-item .page-link {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}
.pagination-container .page-item.active .page-link {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}