RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# Uncomment and set path to your project at akela:
# I.e /home/xvalovic/public_html/apv should looks like
# RewriteBase /~xvalovic/apv/public/

# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
